spring:
  mvc:
    cors:
      mappings:
        "[/**]":
          allowed-origins: "http://orcamento.local"
          allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
          allowed-headers: "*"
          exposed-headers: "*"
          allow-credentials: true
          max-age: 3600
  application:
    name: orcamento

  devtools:
    restart:
      enabled: false

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/orcamento?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: root
    password: admin.2011
    hikari:
      minimum-idle: 5
      maximum-pool-size: 20
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
      pool-name: HikariPool-Orcamento

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  jackson:
    date-format: yyyy-MM-dd
    time-zone: UTC
    deserialization:
      ADJUST_DATES_TO_CONTEXT_TIME_ZONE: false

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  mail:
    host: smtp.gmail.com
    port: 587
    username: noreplay.meuorcamento@gmail.com
    password: eivo ottt pjzn vsdb
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    from: noreplay.meuorcamento@gmail.com

server:
  port: 8045

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    org.springframework.security: INFO

jwt:
  expiration:
    ms: 1800000

file:
  upload-dir: ./uploads

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus